<nav>
  <a href="/" class="logo-a">
    <div class="logo">
      <img src="/logo.png" class="logo1" height="45px" width="45px" />
      Marine Minds
    </div>
  </a>
  <div class="nav-items">
    <a class="nav-item" href="/Mystries"> Mysteries</a>
    <a class="nav-item" href="/Dive"> Dive</a>
    <a class="nav-item" href="/Commingsoon"> Virtual lab</a>
    <a class="nav-item" href="/Commingsoon"> AR</a>

    <div class="nav-item">
      News
      <div class="dropdown">
        <a href="/Commingsoon">Coastline</a>
        <a href="/Commingsoon">Disaster</a>
        <a href="/Commingsoon">Ocean</a>
        <a href="/Commingsoon">Discovery</a>
      </div>
    </div>
    <div class="nav-item">
      About
      <div class="dropdown">
        <a href="/About/Team">Team</a>
        <a href="/About/Contact">Contact</a>
      </div>
    </div>
    <div class="nav-item">
      Community
      <div class="dropdown">
        <a href="/Commingsoon">Join Us</a>
        <a href="/Commingsoon">Donation</a>
        <a href="/Commingsoon">Event</a>
      </div>
    </div>
  </div>
  <button class="signin-button">Sign In</button>
</nav>