<div id="Hero-section" class="main-section"></div>
<div id="Vedio-section" class="section">
  <!-- Video Section -->
  <div class="video-section">
    <div class="video-container">
      <video id="background-video" class="background-video" loop muted playsinline>
        <source src="/Vedio Player/underwater2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<div id="Card-Section" class="section"></div>
<div id="hall-of-fame-section" class="section"></div>
<div id="FAQs-section" class="section"></div>
<script src="/combined.js"></script>
<script chatbot_id="66d456c6706e8026b8060c40" src="https://app.thinkstack.ai/bot/thinkstackai-loader.min.js"></script>
</body>

</html>