<div id="map"></div>
<div id="info-panel" class="hidden">
  <h2 id="info-title"></h2>
  <p id="info-description"></p>
  <button id="go-button" class="hidden">GO</button>
  <button id="close-info">Close</button>
</div>
<button id="returnToHome" style=" position: absolute;
        top: 10px;
        left: 50px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #008CBA;
        color: white;
        border: none;
        border-radius: 16px;
        transition: background-color 0.3s; 
        z-index: 1000;"><i class="fa-solid fa-house" style="margin-right:0.5rem ;"></i>Home</button>
<button id="play-game" style=" position: absolute;
                top: 10px;
                right: 20px;
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                background-color: #008CBA;
                color: white;
                border: none;
                border-radius: 16px;
                transition: background-color 0.3s; 
                z-index: 1000;"><i class="fa-solid fa-gamepad" style="margin-right:0.5rem;"></i>Play Game</button>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>