<div id="map"></div>
<div id="info-panel" class="hidden">
  <h2 id="info-title"></h2>
  <p id="info-description"></p>
  <button id="go-button" class="hidden">GO</button>
  <button id="close-info">Close</button>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
